.cal-table {
	border: 2px #FAFAFA solid;
	width: 468px;
	margin: 0 auto;
}

.wrap {
	display: inline-block;
}

.month {
	width: 7px;
	height: 7px;
	border: 2px solid black;
	border-radius: 100%;
	margin: 1px;

}

.week {
	width: 5px;
	height: 5px;
	border: 1px solid black;
	margin: 1px;
}

.past {
	background-color: #888888;
}

