<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    	<script src="js/app.js" type="text/javascript"></script>
    	<script src="js/controllers/MainController.js" type="text/javascript"></script>
    	<script src="js/services/whoLifeExpectancyService.js" type="text/javascript"></script>

    	<link rel="stylesheet" type="text/css" href="css/main.css" />

	</head>
	<body>
		<div id="description">
			<h1>Death countdown calendar</h1>
			<p>Here you can construnct personal countdown to your estimated time of death.</p>
			<p>Inspired by "<a href="http://waitbutwhy.com/2015/12/the-tail-end.html">The tail end</a>" piece by Wait But Why.</p>
			<p>Life is finite and we aren't always aware of that. Comparing your remaining time to some easily measurable by eye quanitity helps with attaining perspective.</p>
		</div>

		<div id="calendar" ng-app="app" ng-controller="MainController as main">
			<form name="input">
				<label for="country">Select your country of residence:</label>
				<select name="country" id="country"
					ng-model="main.data.country"
					ng-options="country.id as country.name for country in main.countryCodes">
				</select>

				<label for="sex">Select your sex:</label>
				<select name="sex" id="sex"
					ng-model="main.data.sex"
					ng-options="sex.id as sex.name for sex in main.sexCodes">
				</select>

				<label for="birthDate">Input your birth date:</label>
				<input type="date" name="birthDate" id="birthDate"
					ng-attr-max="{{ main.now.toISOString().substring(0,10) }}"
					ng-model="main.data.birthDate">

				<div id="resolutionSelection">
					<label for="resolutionSelection">Select calendar resolution:</label>
					<input type="radio" ng-model="main.data.resolution" value="month" ng-change='main.showCells()'>Months
					<input type="radio" ng-model="main.data.resolution" value="week"  ng-change='main.showCells()' checked>Weeks
				</div>

				<button ng-click="main.calculateCells()">Calculate</button>

				<button>Reset</button>
			</form>

 			<div id="debug">
				<p>selected country: {{main.data.country}}</p>
				<p>selected sex: {{main.data.sex}}</p>
				<p>selected birth date: {{main.data.birthDate | date }}, raw: {{main.data.birthDate}}</p>
				<p>selected date diff with Now(): {{ (main.now - main.data.birthDate) / (1000*60*60) }}</p>
				<p>selected resolution is: {{ main.data.resolution }}</p>
				<p>I have tryed to fetch data: {{ main.message }}</p>
			</div>

			<div class="cal-table">
				<div class="wrap" ng-repeat="cell in main.cells.active track by $index">
					<div ng-class="{past: cell.inPast, month: main.data.resolution == 'month', week: main.data.resolution == 'week'}">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>